{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 >BIENVENUE :</h1>
        <h5>Ce projet s'agit d'une application web qui sert a gérer les professeurs au sein d'une école<br></h5>
        <h6>Projet réalisé par : ELMOSTAFA BENDRISS</h6>
    </div>
{% endblock %}
